# Don't track content of these folders
.idea/*
target/*
1_14_R1/target/*
1_15_R1/target/*
1_16_R1/target/*
1_16_R2/target/*
1_16_R3/target/*
1_17_R1/target/*
1_17_1_R1/target/*
Plugin/target/*
Utility/target/*

# Compiled source #
###################
#*.txt
*.iml

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
#*.7z
#*.dmg